.btn-primary,

.btn-primary:hover,

.btn-primary:focus{
  color:black;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

body{
    background-color: antiquewhite;
}

h1{
    color: orange;
}
h3{
    color:lightcoral
}
.orange{
    color: orange;
}
.background-blue{
    background-color: lightblue;
}
.background-green{
    background-color:darkslategray
}
.blue{
    color: lightblue;
}
.shadow{
    box-shadow: 5px 10px;
}

.separated{
    margin-left: 10px;
    margin-right: 10px;
}
.clear{
    background-color: aliceblue;
}