
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shinz</title>
    <script>
  window.adaSettings = {
    handle: "shinzy-tohacks",
    cluster: "maple"
  };
</script>

    <script
            src="https://static.ada.support/embed2.js"
    ></script>

    <!-- Bootstrap core CSS -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">-->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.0-dist/css/bootstrap.min.css') }}">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../assets/index.css" rel="stylesheet">
  </head>
  
  <body> 
    <!-- style="background-color:pink;"
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> -->
    <header>
        <nav class="navbar bg-dark shadow">
          <div class="container-fluid">
            <span class=" blue h1">Shinz</span>
          </div>
        </nav>
    </header>

    
    <main>
      <div class="jumbotron background-blue">
        <h3>Shinz: an easier way to file insurance claims</h3>
        <p>Insurance documents are notoriously complicated. That is why we 
            created Shinz, a website that summarizes complicated documents into 
            short, easy to understand words. Simply upload the document below and 
            Shinz will output the simplified text. In case you have a question, 
            you can ask Shinz directly using the chatbot in the bottom right corner.</p>
        <h3>How does Shinz work?</h3>
        <p>Shinz uses an external library, created by Ramsri Goutham, to summarize documents. 
            The chatbot uses Ada’s services.</p>
        <h3>Why did we create this?</h3>
        <p>We created this website to make the insurance claim process simpler and 
            easier to understand.</p>
      </div>

      <div class="container background-dark">
        <div class="input-group mb-3">
            <form action="http://127.0.0.1:5000" method="POST" enctype="multipart/form-data">
              <input type="file" class="form-control" id="myFile" name="filename" accept=".txt"/>
              <input type="submit" id="submit-button">
            </form>
        </div>
      </div>

        <div class="summary">
            <!--{{ summary }}-->
            <p>poop</p>
        </div>
    </main>

    <footer>  
    </footer>

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--<script src="{{ url_for('static', filename='bootstrap-5.0.0-dist/js/bootstrap.min.js') }}"></script>-->
  </body>
  
</html>
